TheExplorer/Service References/CrimeService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page1/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page1/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page1/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetCrimeIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCrimeIndex" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCrimeIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCrimeIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFarmersMarket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFarmersMarket" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFarmersMarket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFarmersMarketResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GeoLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GeoLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_GeoLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeoLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StaffManager_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffManager" />
  </wsdl:message>
  <wsdl:message name="IService1_StaffManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaff" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetCrimeIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCrimeIndex" message="tns:IService1_GetCrimeIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCrimeIndexResponse" message="tns:IService1_GetCrimeIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFarmersMarket">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFarmersMarket" message="tns:IService1_GetFarmersMarket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFarmersMarketResponse" message="tns:IService1_GetFarmersMarket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeoLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GeoLocation" message="tns:IService1_GeoLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GeoLocationResponse" message="tns:IService1_GeoLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StaffManager" message="tns:IService1_StaffManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StaffManagerResponse" message="tns:IService1_StaffManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStaff" message="tns:IService1_GetStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStaffResponse" message="tns:IService1_GetStaff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCrimeIndex">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCrimeIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFarmersMarket">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFarmersMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeoLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/GeoLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffManager">
      <soap:operation soapAction="http://tempuri.org/IService1/StaffManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaff">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar33.fulton.asu.edu/Page1/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>