TheExplorer/Web References/StoreService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar33.fulton.asu.edu/Page4/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://webstrar33.fulton.asu.edu/Page4/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NearestBestDeal" />
  <xs:element name="GetNearestStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="preferences" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NearestBestDeal" minOccurs="0" name="GetNearestStoresResult" nillable="true" type="q2:ArrayOfResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NearestBestDeal" minOccurs="0" name="GetNearestDealResult" nillable="true" type="q3:ArrayOfSearchListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NearestBestDeal" minOccurs="0" name="preferences" nillable="true" type="q4:Preferences" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NearestBestDeal" minOccurs="0" name="GetLocalEventsResult" nillable="true" type="q5:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationFromAdress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationFromAdressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NearestBestDeal" minOccurs="0" name="GetLocationFromAdressResult" nillable="true" type="q6:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>