TheExplorer/Web References/ExplorerService1/WSDLDiscovery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLDiscovery" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page5/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page5/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page5/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSDLDiscovery_Discover_InputMessage">
    <wsdl:part name="parameters" element="tns:Discover" />
  </wsdl:message>
  <wsdl:message name="IWSDLDiscovery_Discover_OutputMessage">
    <wsdl:part name="parameters" element="tns:DiscoverResponse" />
  </wsdl:message>
  <wsdl:message name="IWSDLDiscovery_Weather5Day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5Day" />
  </wsdl:message>
  <wsdl:message name="IWSDLDiscovery_Weather5Day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5DayResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSDLDiscovery">
    <wsdl:operation name="Discover">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLDiscovery/Discover" message="tns:IWSDLDiscovery_Discover_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLDiscovery/DiscoverResponse" message="tns:IWSDLDiscovery_Discover_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5Day">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSDLDiscovery/Weather5Day" message="tns:IWSDLDiscovery_Weather5Day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSDLDiscovery/Weather5DayResponse" message="tns:IWSDLDiscovery_Weather5Day_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSDLDiscovery" type="tns:IWSDLDiscovery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Discover">
      <soap:operation soapAction="http://tempuri.org/IWSDLDiscovery/Discover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5Day">
      <soap:operation soapAction="http://tempuri.org/IWSDLDiscovery/Weather5Day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLDiscovery">
    <wsdl:port name="BasicHttpBinding_IWSDLDiscovery" binding="tns:BasicHttpBinding_IWSDLDiscovery">
      <soap:address location="http://webstrar33.fulton.asu.edu/Page5/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>