TheExplorer/Service References/InstaPicService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar33.fulton.asu.edu/Page2/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExplorerElective" />
  <xs:import schemaLocation="http://webstrar33.fulton.asu.edu/Page2/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExplorerElective" minOccurs="0" name="GetFoodResult" nillable="true" type="q1:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExplorerElective" minOccurs="0" name="myHotels" nillable="true" type="q2:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderByRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExplorerElective" minOccurs="0" name="OrderByRatingResult" nillable="true" type="q3:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExplorerElective" minOccurs="0" name="myHotels" nillable="true" type="q4:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetURLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetImagesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>