TheExplorer/Service References/InstaPicService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page2/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page2/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExplorerElective" />
      <xsd:import schemaLocation="http://webstrar33.fulton.asu.edu/Page2/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetFood_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFood" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OrderByRating_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderByRating" />
  </wsdl:message>
  <wsdl:message name="IService1_OrderByRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderByRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetURL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetURL" />
  </wsdl:message>
  <wsdl:message name="IService1_GetURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetURLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFood" message="tns:IService1_GetFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFoodResponse" message="tns:IService1_GetFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderByRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OrderByRating" message="tns:IService1_OrderByRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OrderByRatingResponse" message="tns:IService1_OrderByRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetURL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetURL" message="tns:IService1_GetURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetURLResponse" message="tns:IService1_GetURL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImages" message="tns:IService1_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImagesResponse" message="tns:IService1_GetImages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFood">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderByRating">
      <soap:operation soapAction="http://tempuri.org/IService1/OrderByRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetURL">
      <soap:operation soapAction="http://tempuri.org/IService1/GetURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar33.fulton.asu.edu/Page2/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>